@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Reset Style Sheet
   
   Filename: br_base.css

*/


/* Display HTML5 structural elements as blocks */
/* This creates the article, aside, figure, figcaption, footer, header, section and the navigation element with a display of block */
article,
aside,
figure,
figcaption,
footer,
header,
section,
nav {
    display: block;
}


/* Set the default page element styles */
/* This creates the body element with a margin of 0 pixels and a width of 100 percent */
body {
    margin: 0px;
    width: 100%;
}

/* This creates the body element and the * element with the font family of Verdana, Geneva, and sans-serif, a font size of 100 percent, font weight to inherit, line height of 1.2 emphemeral unit, list style is set to none, margin of 0 pixels, padding to 0 pixels, text decoration to none, and vertical align to baseline */
body * {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    font-weight: inherit;
    line-height: 1.2em;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    vertical-align: baseline;
}