@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Reset Style Sheet
   
   Filename: br_base.css

*/


/* Display HTML5 structural elements as blocks */

article,
aside,
figure,
figcaption,
footer,
hgroup,
header,
section,
nav {
    display: block;
}


/* Set the default page element styles */

body {
    margin: 0px;
    width: 100%;
}

body * {

    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    font-weight: inherit;
    line-height: 1.2em;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    vertical-align: baseline;

}